@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Light.eot');
    src: local('Stolzl Light'), local('Stolzl-Light'), url('../../fonts/stolzi/Stolzl-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/stolzi/Stolzl-Light.woff2') format('woff2'), url('../../fonts/stolzi/Stolzl-Light.woff') format('woff'), url('../../fonts/stolzi/Stolzl-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Regular.eot');
    src: local('Stolzl Regular'), local('Stolzl-Regular'), url('../../fonts/stolzi/Stolzl-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/stolzi/Stolzl-Regular.woff2') format('woff2'), url('../../fonts/stolzi/Stolzl-Regular.woff') format('woff'), url('../../fonts/stolzi/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Medium.eot');
    src: local('Stolzl Medium'), local('Stolzl-Medium'), url('../../fonts/stolzi/Stolzl-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/stolzi/Stolzl-Medium.woff2') format('woff2'), url('../../fonts/stolzi/Stolzl-Medium.woff') format('woff'), url('../../fonts/stolzi/Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A1 Serif';
    src: url('A1Serif-Regular.eot');
    src: local('A1Serif-Regular'), local('A1Serif-Regular'), url('../../fonts/a1serif/A1Serif-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/a1serif/A1Serif-Regular.woff2') format('woff2'), url('../../fonts/a1serif/A1Serif-Regular.woff') format('woff'), url('../../fonts/a1serif/A1Serif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A1 Serif';
    src: url('A1Serif-Bold.eot');
    src: local('A1Serif-Bold'), local('A1Serif-Bold'), url('../../fonts/a1serif/A1Serif-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/a1serif/A1Serif-Bold.woff2') format('woff2'), url('../../fonts/a1serif/A1Serif-Bold.woff') format('woff'), url('../../fonts/a1serif/A1Serif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turismo';
    src: url('TurismoCF-300.eot');
    src: local('Turismo'), local('TurismoCF-300'), url('../../fonts/turismo/TurismoCF-300.eot?#iefix') format('embedded-opentype'), url('../../fonts/turismo/TurismoCF-300.woff2') format('woff2'), url('../../fonts/turismo/TurismoCF-300.woff') format('woff'), url('../../fonts/turismo/TurismoCF-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turismo';
    src: url('TurismoCF-400.eot');
    src: local('Turismo'), local('TurismoCF-400'), url('../../fonts/turismo/TurismoCF-400.eot?#iefix') format('embedded-opentype'), url('../../fonts/turismo/TurismoCF-400.woff2') format('woff2'), url('../../fonts/turismo/TurismoCF-400.woff') format('woff'), url('../../fonts/turismo/TurismoCF-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turismo';
    src: url('TurismoCF-600.eot');
    src: local('Turismo'), local('TurismoCF-600'), url('../../fonts/turismo/TurismoCF-600.eot?#iefix') format('embedded-opentype'), url('../../fonts/turismo/TurismoCF-600.woff2') format('woff2'), url('../../fonts/turismo/TurismoCF-600.woff') format('woff'), url('../../fonts/turismo/TurismoCF-600.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PsychicForce';
    src: url('PsychicForce.eot');
    src: local('PsychicForce'), local('PsychicForce'), url('../../fonts/psychicforce/PsychicForce.eot?#iefix') format('embedded-opentype'), url('../../fonts/psychicforce/PsychicForce.woff2') format('woff2'), url('../../fonts/psychicforce/PsychicForce.woff') format('woff'), url('../../fonts/psychicforce/PsychicForce.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}